// buttons

button {
  display: block;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  width: 150px;
  height: 50px;
  line-height: 50px;
  margin: auto;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: none;
  outline: 0;
  font-weight: bold;
  letter-spacing: 2px;
  border-radius: 5px;
  color: $color-default-background;
  background-color: $color-default-text;
  font-size: 16px;
  -webkit-transition-duration: 0.1s; /* Safari */
  transition-duration: 0.1s;
  text-transform: uppercase;
}

button.xs {
  width: 60px;
  height: 20px;
  line-height: 20px;
  font-size: 8px;
}

button.sm {
  width: 90px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
}

button.md {
  width: 120px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
}

button.lg {
  width: 180px;
  height: 60px;
  line-height: 60px;
  font-size: 22px;
}

button.xl {
  width: 210px;
  height: 70px;
  line-height: 70px;
  font-size: 26px;
}

button > i {
  display: block !important;
}

button.dynamic {
  width: unset !important;
  height: unset !important;
  padding-left: 20px;
  padding-right: 20px;
}

button.light {
  background-color: $color-light-background;
  color: $color-light-text !important;
}

button.dark {
  background-color: $color-dark-background;
  color: $color-dark-text !important;
}

button:hover {
  opacity: 0.7;
}

.no-touch button:active {
  transform: scale(0.9);
}

button.flat {
  box-shadow: none;
}

button.icon {
  width: 50px !important;
  height: 50px !important;
  line-height: unset;
}

button.circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

button.text {
  @extend button.dynamic;
  box-shadow: none;
  background-color: unset;
  color: $color-default-text;
}
