.dropdown {
  position: relative;
  display: inline-block;
  overflow: visible;
}

.dropdown.show {
  opacity: 1 !important;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $color-default-background;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  width: 100%;
  top: 50px;
  left: 0px;
  z-index: 5;
  border-radius: 4px;
}

.show.dropdown-content {
  display: block;
  text-overflow: clip;
  white-space: normal;
  overflow: visible;
}

.dropdown-content > .divider {
  border-bottom: 1px solid $color-separator;
}

.dropdown-content > button {
  @extend button.text;
}
