@import "variables";
@import "layout";
@import "sections";
@import "buttons";
@import "overlay";
@import "card";
@import "table";
@import "breadcrumb";
@import "dropdown";
@import "notification";
@import "navbar";
@import "collections";
@import "forms";
@import "panes";
@import "dragoverlay";

html,
body {
  font-family: Helvetica;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  // overflow: hidden;
  // -webkit-touch-callout: none; /* iOS Safari */
  // -webkit-user-select: none; /* Safari */
  // -khtml-user-select: none; /* Konqueror HTML */
  // -moz-user-select: none; /* Old versions of Firefox */
  // -ms-user-select: none; /* Internet Explorer/Edge */
  // user-select: none;
  margin: 0;
  padding: 0;
}

// responsive

@media (max-width: $small-breakpoint) {
  .hide-sm {
    display: none;
  }
}

@media (max-width: $medium-breakpoint) {
  .hide-md {
    display: none;
  }
}

@media (max-width: $large-breakpoint) {
  .hide-lg {
    display: none;
  }
}

@media (max-width: $extra-large-breakpoint) {
  .hide-xl {
    display: none;
  }
}

// size

.full-width {
  width: 100% !important;
}

.full-height {
  height: 100% !important;
}

.max-width-sm {
  max-width: $small-breakpoint;
}

.max-width-md {
  max-width: $medium-breakpoint;
}

.max-width-lg {
  max-width: $large-breakpoint;
}

.max-width-xl {
  max-width: $extra-large-breakpoint;
}

.min-width-sm {
  min-width: $small-breakpoint;
}

.min-width-md {
  min-width: $medium-breakpoint;
}

.min-width-lg {
  min-width: $large-breakpoint;
}

.min-width-xl {
  min-width: $extra-large-breakpoint;
}

// overflow

.scroll-y {
  overflow-y: auto;
}

.scroll-x {
  overflow-x: auto;
}

.hide-y {
  overflow-y: hidden;
}

.hide-x {
  overflow-x: hidden;
}

// text

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

// margin

.ma {
  margin: auto;
}

.mn {
  margin: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.mt-1 {
  margin-top: $step-1;
}

.mt-2 {
  margin-top: $step-2;
}

.mt-3 {
  margin-top: $step-3;
}

.mt-4 {
  margin-top: $step-4;
}

.mt-5 {
  margin-top: $step-5;
}

.mt-n1 {
  margin-top: -$step-1;
}

.mt-n2 {
  margin-top: -$step-2;
}

.mt-n3 {
  margin-top: -$step-3;
}

.mt-n4 {
  margin-top: -$step-4;
}

.mt-n5 {
  margin-top: -$step-5;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-1 {
  margin-bottom: $step-1;
}

.mb-2 {
  margin-bottom: $step-2;
}

.mb-3 {
  margin-bottom: $step-3;
}

.mb-4 {
  margin-bottom: $step-4;
}

.mb-5 {
  margin-bottom: $step-5;
}

.mb-n1 {
  margin-bottom: -$step-1;
}

.mb-n2 {
  margin-bottom: -$step-2;
}

.mb-n3 {
  margin-bottom: -$step-3;
}

.mb-n4 {
  margin-bottom: -$step-4;
}

.mb-n5 {
  margin-bottom: -$step-5;
}

.mr-0 {
  margin-right: 0px;
}

.mr-1 {
  margin-right: $step-1;
}

.mr-2 {
  margin-right: $step-2;
}

.mr-3 {
  margin-right: $step-3;
}

.mr-4 {
  margin-right: $step-4;
}

.mr-5 {
  margin-right: $step-5;
}

.mr-n1 {
  margin-right: -$step-1;
}

.mr-n2 {
  margin-right: -$step-2;
}

.mr-n3 {
  margin-right: -$step-3;
}

.mr-n4 {
  margin-right: -$step-4;
}

.mr-n5 {
  margin-right: -$step-5;
}

.ml-0 {
  margin-left: 0px;
}

.ml-1 {
  margin-left: $step-1;
}

.ml-2 {
  margin-left: $step-2;
}

.ml-3 {
  margin-left: $step-3;
}

.ml-4 {
  margin-left: $step-4;
}

.ml-5 {
  margin-left: $step-5;
}

.ml-n1 {
  margin-left: -$step-1;
}

.ml-n2 {
  margin-left: -$step-2;
}

.ml-n3 {
  margin-left: -$step-3;
}

.ml-n4 {
  margin-left: -$step-4;
}

.ml-n5 {
  margin-left: -$step-5;
}

.mx-0 {
  margin-left: 0px;
  margin-right: 0px;
}

.mx-1 {
  margin-left: $step-1;
  margin-right: $step-1;
}

.mx-2 {
  margin-left: $step-2;
  margin-right: $step-2;
}

.mx-3 {
  margin-left: $step-3;
  margin-right: $step-3;
}

.mx-4 {
  margin-left: $step-4;
  margin-right: $step-4;
}

.mx-5 {
  margin-left: $step-5;
  margin-right: $step-5;
}

.mx-n1 {
  margin-left: -$step-1;
  margin-right: -$step-1;
}

.mx-n2 {
  margin-left: -$step-2;
  margin-right: -$step-2;
}

.mx-n3 {
  margin-left: -$step-3;
  margin-right: -$step-3;
}

.mx-n4 {
  margin-left: -$step-4;
  margin-right: -$step-4;
}

.mx-n5 {
  margin-left: -$step-5;
  margin-right: -$step-5;
}

.my-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.my-1 {
  margin-top: $step-1;
  margin-bottom: $step-1;
}

.my-2 {
  margin-top: $step-2;
  margin-bottom: $step-2;
}

.my-3 {
  margin-top: $step-3;
  margin-bottom: $step-3;
}

.my-4 {
  margin-top: $step-4;
  margin-bottom: $step-4;
}

.my-5 {
  margin-top: $step-5;
  margin-bottom: $step-5;
}

.my-n1 {
  margin-top: -$step-1;
  margin-bottom: -$step-1;
}

.my-n2 {
  margin-top: -$step-2;
  margin-bottom: -$step-2;
}

.my-n3 {
  margin-top: -$step-3;
  margin-bottom: -$step-3;
}

.my-n4 {
  margin-top: -$step-4;
  margin-bottom: -$step-4;
}

.my-n5 {
  margin-top: -$step-5;
  margin-bottom: -$step-5;
}

.ma-0 {
  margin: 0px;
}

.ma-1 {
  margin: $step-1;
}

.ma-2 {
  margin: $step-2;
}

.ma-3 {
  margin: $step-3;
}

.ma-4 {
  margin: $step-4;
}

.ma-5 {
  margin: $step-5;
}

.ma-n1 {
  margin: -$step-1;
}

.ma-n2 {
  margin: -$step-2;
}

.ma-n3 {
  margin: -$step-3;
}

.ma-n4 {
  margin: -$step-4;
}

.ma-n5 {
  margin: -$step-5;
}

// padding

.pn {
  padding: 0px;
}

.pt-0 {
  padding-top: 0px;
}

.pt-1 {
  padding-top: $step-1;
}

.pt-2 {
  padding-top: $step-2;
}

.pt-3 {
  padding-top: $step-3;
}

.pt-4 {
  padding-top: $step-4;
}

.pt-5 {
  padding-top: $step-5;
}

.pb-0 {
  padding-bottom: 0px;
}

.pb-1 {
  padding-bottom: $step-1;
}

.pb-2 {
  padding-bottom: $step-2;
}

.pb-3 {
  padding-bottom: $step-3;
}

.pb-4 {
  padding-bottom: $step-4;
}

.pb-5 {
  padding-bottom: $step-5;
}

.pr-0 {
  padding-right: 0px;
}

.pr-1 {
  padding-right: $step-1;
}

.pr-2 {
  padding-right: $step-2;
}

.pr-3 {
  padding-right: $step-3;
}

.pr-4 {
  padding-right: $step-4;
}

.pr-5 {
  padding-right: $step-5;
}

.pl-0 {
  padding-left: 0px;
}

.pl-1 {
  padding-left: $step-1;
}

.pl-2 {
  padding-left: $step-2;
}

.pl-3 {
  padding-left: $step-3;
}

.pl-4 {
  padding-left: $step-4;
}

.pl-5 {
  padding-left: $step-5;
}

.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.px-1 {
  padding-left: $step-1;
  padding-right: $step-1;
}

.px-2 {
  padding-left: $step-2;
  padding-right: $step-2;
}

.px-3 {
  padding-left: $step-3;
  padding-right: $step-3;
}

.px-4 {
  padding-left: $step-4;
  padding-right: $step-4;
}

.px-5 {
  padding-left: $step-5;
  padding-right: $step-5;
}

.py-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.py-1 {
  padding-top: $step-1;
  padding-bottom: $step-1;
}

.py-2 {
  padding-top: $step-2;
  padding-bottom: $step-2;
}

.py-3 {
  padding-top: $step-3;
  padding-bottom: $step-3;
}

.py-4 {
  padding-top: $step-4;
  padding-bottom: $step-4;
}

.py-5 {
  padding-top: $step-5;
  padding-bottom: $step-5;
}

.pa-0 {
  padding: 0px;
}

.pa-1 {
  padding: $step-1;
}

.pa-2 {
  padding: $step-2;
}

.pa-3 {
  padding: $step-3;
}

.pa-4 {
  padding: $step-4;
}

.pa-5 {
  padding: $step-5;
}
