@import "variables";
@import "layout";
@import "sections";
@import "buttons";
@import "overlay";
@import "card";
@import "table";
@import "breadcrumb";
@import "dropdown";
@import "notification";
@import "navbar";
@import "collections";
@import "forms";
@import "panes";

html,
body {
  font-family: Helvetica;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  // overflow: hidden;
  // -webkit-touch-callout: none; /* iOS Safari */
  // -webkit-user-select: none; /* Safari */
  // -khtml-user-select: none; /* Konqueror HTML */
  // -moz-user-select: none; /* Old versions of Firefox */
  // -ms-user-select: none; /* Internet Explorer/Edge */
  // user-select: none;
  margin: 0;
  padding: 0;
}

// responsive

@media (max-width: $small-breakpoint) {
  .hide-sm {
    display: none;
  }
}

@media (max-width: $medium-breakpoint) {
  .hide-md {
    display: none;
  }
}

@media (max-width: $large-breakpoint) {
  .hide-lg {
    display: none;
  }
}

@media (max-width: $extra-large-breakpoint) {
  .hide-xl {
    display: none;
  }
}

.max-width-sm {
  max-width: $small-breakpoint;
}

.max-width-md {
  max-width: $medium-breakpoint;
}

.max-width-lg {
  max-width: $large-breakpoint;
}

.max-width-xl {
  max-width: $extra-large-breakpoint;
}

// overflow

.scroll-y {
  overflow-y: scroll;
}

.scroll-x {
  overflow-x: scroll;
}

.hide-y {
  overflow-y: hidden;
}

.hide-x {
  overflow-x: hidden;
}

// text

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

// size

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

// margin

.ma {
  margin: auto;
}

.mn {
  margin: 0px;
}

// padding

.pn {
  padding: 0px;
}
